In [1]:
# Import pandas and sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/IMDb ratings.csv"

In [3]:
ratings_data_df = pd.read_csv(csv_file)

In [4]:
ratings_data_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [5]:
# Removed irrelevant columns and reorganized the votes by gender regardless of age.
# The "mean_vote" and "median_vote" columns were also removed due to redundancy. 
# The "total_votes" and "weighted_average_vote" columns were switched around for the sake of clarity.  
Updated_ratings_data_df = ratings_data_df[['imdb_title_id', 'total_votes', 'weighted_average_vote', 'males_allages_avg_vote', 'males_allages_votes', 'females_allages_avg_vote', 'females_allages_votes']].copy()

In [6]:
Updated_ratings_data_df.set_index ("imdb_title_id", inplace = True)

In [7]:
Updated_ratings_data_df.head()

,total_votes,weighted_average_vote,males_allages_avg_vote,males_allages_votes,females_allages_avg_vote,females_allages_votes
imdb_title_id,,,,,,
tt0000009,154,5.9,6.2,97.0,6.0,35.0
tt0000574,589,6.1,6.1,425.0,6.2,50.0
tt0001892,188,5.8,5.9,146.0,5.7,15.0
tt0002101,446,5.2,5.1,299.0,5.9,39.0
tt0002130,2237,7.0,7.0,1607.0,7.2,215.0

In [8]:
# Connect to database and create engine:
rds_connection_string = "postgres:bootcamp@localhost:5433/Netflix_IMDb_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
# Check tables
engine.table_names()

<ipython-input-9-d43c134ae484>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['ratings_gender']

In [10]:
# Verify that the databased is connected to the table. 
Updated_ratings_data_df.to_sql(name='ratings_gender', con=engine, if_exists='replace', index=True)